<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Pluto - Responsive Bootstrap Admin Panel Templates</title>
    <link rel="icon" href="~/Client/images/fevicon.png" type="image/png" />
    <link rel="stylesheet" href="~/Client/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Client/style.css" />
    <link rel="stylesheet" href="~/Client/css/responsive.css" />
    <link rel="stylesheet" href="~/Client/css/colors.css" />
    <link rel="stylesheet" href="~/Client/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/Client/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/Client/css/custom.css" />
    <link href="~/Client/assets/img/favicon.png" rel="icon">
    <link href="~/Client/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/Client/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Client/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Client/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Client/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Client/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Client/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Client/assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <link href="~/Client/assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/25.2.3/material.css" />
    <script src="https://cdn.syncfusion.com/ej2/25.2.3/dist/ej2.min.js"></script>
    <script src="https://cdn.syncfusion.com/ej2/20.2.36/dist/ej2.min.js"></script>
</head>
<body class="dashboard dashboard_1">
    
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    <div class="sidebar-header">
                        <div class="logo_section">
                            <a href="dashboard.html"><img class="logo_icon img-responsive" src="~/ProfilImage/profile-img.jpg" alt="#" /></a>
                        </div>
                    </div>
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                            @if (Model != null && !string.IsNullOrEmpty(Model.PhotoPath))
                            {
                                <div class="user_img">
                                    <img class="img-responsive rounded-circle" src="@Url.Content("~/ProfilImage/" + Model.PhotoPath)" alt="Profile" />
                                </div>
                            }
                            else
                            {
                                <div class="user_img">
                                    <img class="img-responsive rounded-circle" src="~/ProfilImage/profile-img.jpg" alt="#" />
                                </div>
                            }
                            <div class="user_info">
                                <h6>@Context.Session.GetString("Nom") @Context.Session.GetString("Prenom")</h6>
                                <p><span class="online_animation"></span> Online</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                        <li class="active">
                            <a asp-action="Index" asp-controller="Home"><i class="fa fa-home"></i><span>Home</span></a>
                        </li>
                        <li class="active">
                            <a asp-action="AfficherStatistique" asp-controller="Client"><i class="fa fa-dashboard yellow_color"></i> <span>Espace Client</span></a>
                        </li>
                        <li>
                            <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-diamond purple_color"></i> <span>Reservations</span></a>
                            <ul class="collapse list-unstyled" id="element">
                                <li><a asp-action="ListeReservations" asp-controller="Restaurant">> <span>Tables</span></a></li>
                                <li><a asp-action="ListeReservations" asp-controller="Hotel">> <span>Chambres</span></a></li>
                            </ul>
                        </li>
                        <li><a href="map.html"><i class="fa fa-map purple_color2"></i> <span>Plan</span></a></li>
                        <li class="active">
                            <a href="#additional_page" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-clone yellow_color"></i> <span>Endroit</span></a>
                            <ul class="collapse list-unstyled" id="additional_page">
                                <li>
                                    <a asp-controller="Client" asp-action="DemanderPlan">> <span>Demander Plan</span></a>
                                </li>
                                <li>
                                    <a href="project.html">> <span>Proposer itiniraire</span></a>
                                </li>
                            </ul>
                        </li>
                        @* <li><a  asp-action="AfficherStatistique" asp-controller="Client"><i class="fa fa-bar-chart-o green_color"></i> <span>Statistiques</span></a></li>
                        *@ 
                        <li><a asp-action="Index" asp-controller="Paiments"><i class="fa fa-table purple_color2"></i> <span>Facturation</span></a></li>
                        <li>
                            <a asp-action="Index" asp-controller="Avis"><i class="fa fa-comment"></i> <span>Avis </span></a>
                        </li>
                        <li>
                            <a asp-action="Index" asp-controller="Contacts">
                                <i class="fa fa-paper-plane red_color"></i> <span>Contact</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                            <div class="logo_section">
                                <a href="index.html"><img class="logo_icon img-responsive" src="~/ProfilImage/" alt="#" /></a>
                            </div>
                            <div class="right_topbar">
                                <div class="icon_info">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                        <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                        <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                    </ul>
                                    <ul class="user_profile_dd">
                                        <li>
                                            @if (Model != null && !string.IsNullOrEmpty(Model.PhotoPath))
                                            {
                                                <a class="dropdown-toggle" data-toggle="dropdown">
                                                    <img src="@Url.Content("~/ProfilImage/" + Model.PhotoPath)" alt="Profile" class="img-responsive rounded-circle" />
                                                    <span class="name_user"> @Context.Session.GetString("Nom") @Context.Session.GetString("Prenom") </span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a class="dropdown-toggle" data-toggle="dropdown">
                                                    <img class="img-responsive rounded-circle" src="~/ProfilImage/profile-img.jpg" alt="#" />
                                                    <span class="name_user"> @Context.Session.GetString("Nom") @Context.Session.GetString("Prenom") </span>
                                                </a>
                                            }
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" asp-controller="Client" asp-action="ModifierProfil">Mon Profile</a>
                                                <a class="dropdown-item" asp-controller="User" asp-action="LogOut"><span>Se déconnecter</span> <i class="fa fa-sign-out"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <!-- end topbar -->
                <!-- dashboard inner -->
                <div class="midde_cont">
                    <div class="container-fluid">
                        @RenderBody()
                    </div>
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
    <!-- jQuery -->
    <script src="~/Client/js/jquery.min.js"></script>
    <script src="~/Client/js/popper.min.js"></script>
    <script src="~/Client/js/bootstrap.min.js"></script>
    <script src="~/Client/js/animate.js"></script>
    <script src="~/Client/js/bootstrap-select.js"></script>
    <script src="~/Client/js/owl.carousel.js"></script>
    <script src="~/Client/js/Chart.min.js"></script>
    <script src="~/Client/js/Chart.bundle.min.js"></script>
    <script src="~/Client/js/utils.js"></script>
    <script src="~/Client/js/analyser.js"></script>
    <script src="~/Client/js/perfect-scrollbar.min.js"></script>
    <script>
        var ps = new PerfectScrollbar('#sidebar');
    </script>
    <script src="~/Client/js/custom.js"></script>
    <script src="~/Client/js/chart_custom_style1.js"></script>
    <script src="~/Client/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Client/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Client/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/Client/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/Client/assets/vendor/quill/quill.min.js"></script>
    <script src="~/Client/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Client/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Client/assets/vendor/php-email-form/validate.js"></script>
</body>
</html>
