@model IEnumerable<PFA.ModelView.ListerHotelModelView>

@{
    ViewData["Title"] = "Hotel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div style="width: 100%; height: 200px; overflow: hidden;">
                        <img src="~/EndroitImage/Hotel/@item.Image" class="card-img-top" alt="Hotel Photo" style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.NomEndroit</h5>
                        <div>
                            @{
                                int fullStars = (int)item.NbrEtoile;
                                bool hasHalfStar = (item.NbrEtoile - fullStars) >= 0.5;
                            }

                            @for (int i = 0; i < fullStars; i++)
                            {
                                <i class="fas fa-star text-warning"></i>
                            }

                            @if (hasHalfStar)
                            {
                                <i class="fas fa-star-half-alt text-warning"></i>
                            }

                            @for (int i = fullStars + (hasHalfStar ? 1 : 0); i < 5; i++)
                            {
                                <i class="far fa-star text-warning"></i>
                            }
                        </div>
                        <p class="card-text"><strong>Nombre de Chambres :</strong> @item.NbrCHambre</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <i class="fas fa-map-marker-alt"></i> @item.Addresse
                        </li>
                        <li class="list-group-item">
                            <i class="fas fa-city"></i> @item.ville?.Nom
                        </li>
                    </ul>
                    <div class="card-footer bg-transparent border-top-0 text-center">
                        <a href="@Url.Action("Reserver", "Hotel", new { id = item.Id })"   class="btn btn-primary">Réserver</a>
                        <a href="@Url.Action("Details", "Hotel", new { id = item.Id })"   class="btn btn-secondary">Détails</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
